<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css"  media="screen,projection"/>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>  
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Post-It</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="post-message1.html">Post Message</a></li>
            <li><a href="create-group1.html">Create Group</a></li>
            <li><a href="index1.html">Log out</a></li>
          </ul>
        </div>
      </nav>
    </body>
  </html>