<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>POST-IT</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
			<div class="container">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="#">
					Post-It
				</a>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="create-group.html">Create Group</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="messages.html">View Messages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="index.html">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="clearfix"><hr /></div>
		<section class="container">
			<div class="col-lg-4 offset-lg-4">
				<form>
					<div class="card">
						<div class="card-header"><h4 class="card-title">Post Message</h4></div>
						<div class="card-block">
							<div class="form-group">
								<select class="form-control" required="required">
								  <option class="custom-select" selected>- Select Group -</option>
								  <option value="1">Group One</option>
								  <option value="2">Group Two</option>
								  <option value="3">Group Three</option>
								</select>
							</div>
							<br />
							<div class="form-group>
								<label for="group">Message: </label>
								<textarea class="form-control" name="message" placeholder="Enter your message here..." id="message" required="required" rows=4></textarea>
							</div>
						</div>
						<div class="card-footer">
							<button type="submit" class="btn btn-lg btn-primary">Post It</button>
						</div>
						</div>
					</div>
				</form>
			</div>
		</section>

	    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
</html>