.message-card {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #aaa;
  padding: 10px; }
  .message-card .message-head {
    display: flex;
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px; }
    .message-card .message-head .sender,
    .message-card .message-head .priority {
      flex: 1; }
  .message-card .message-body {
    font-size: 14px;
    padding: 10px;
    line-height: 25px; }

.message-card2 {
  margin-top: 10% !important;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #aaa;
  padding: 10px; }
  .message-card2 .message-head {
    display: flex;
    padding: 20px 10px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px; }
    .message-card2 .message-head .sender,
    .message-card2 .message-head .priority {
      flex: 1; }
  .message-card2 .message-body {
    font-size: 14px;
    padding: 10px;
    line-height: 25px; }

.float-right {
  float: right; }

.form-margin {
  margin-top: 5% !important; }

.homepage {
  margin-left: 23%; }

nav .brand-logo {
  color: #000; }

nav ul a {
  color: #000; }
