.form-margin {
  margin-top: 5% !important;
}

.homepage {
  margin-left: 300px;
}

nav {
  .brand-logo {
    color: $black;
  }

  ul a {
    color: $black;
  }
}

.options {
  padding: 10px;
}

.linkcolor {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
