.form-margin {
  margin-top: 5% !important;

  div {
    h3 {
      margin-left: 25%;
      font-size: 1.92rem;
      margin-bottom: 3%;
    }
  }
}

@media only screen and (min-width: 769px) {
  .homepage {
    margin-left: 300px;
  }
}

nav {
  .brand-logo {
    color: $black;
  }

  ul a {
    color: $black;
  }
}

.options {
  padding: 10px;
}

.linkcolor {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
.error-page {
  text-align: center;
  margin-top: 100px;
}
.pagination {
  cursor: pointer;
}
.img-style {
  display: flex;
}

.show {
  display: block !important;
  position: fixed !important;
  left: 22rem !important;
}

.move-trigger {
  position: relative;
  left: 22rem !important;
}

div .trigger {
  position: relative;
  left: 4rem;
  top: 2rem;
}