body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #000;
}

nav ul a {
  font-weight: bolder;
}

.message-card {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid $light-gray;
  padding: 10px;

  &.group {
    padding: 0;
    border: 0;

    .group-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .message-head {
    display: flex;
    padding: 5px 10px;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;

    .sender,
    .priority {
      flex: 1;
    }
  }

  .message-body {
    font-size: 14px;
    padding: 10px;
    line-height: 25px;
  }
}

.message-card2 {
  margin-top:10% !important;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid $light-gray;
  padding: 10px;

  .message-head {
    display: flex;
    padding: 20px 10px;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 10px;

    .sender,
    .priority {
      flex: 1;
    }
  }

  .message-body {
    font-size: 14px;
    padding: 10px;
    line-height: 25px;
  }
}

.float-right {
  float: right;
}

.group-options {
  border: none;
  box-shadow: 1px 2px transparent;
  margin: 0;

  > li {
    margin: 0 10px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    line-height: 16px;
    color: #8e8c8c;
    // flex-direction: column;

    > i {
      margin-right: 10px;
    }
    > .users-list {
      flex-direction: column;
    }

    &:hover {
      background: rgba(229, 115, 115, 0.08);      
    }
  }

  .user-list {
    display: flex;
    flex-direction: column;

    .menu-item {
      justify-content: flex-start;
    }
  }

  .menu-item {
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    line-height: 17px;

    > i {
      font-size: 1.1rem;
      margin-right: 10px;
      width: auto;
    }
  }
}
.page-button {
      margin-top: 50px;
      a {
        margin-right: 30px;
      }
}
